<!DOCTYPE html>
<html>
  <head>
    <title>Tick - An awesome and effective rails to-do list</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body>
  <!-- NavBar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tick - Get Things Done!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>

      
    </ul>

     <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= link_to 'View TODO Items', '/' %></button>&nbsp;&nbsp;
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= link_to 'New Todo Item', new_todo_item_path %></button>
  </div>
</nav>

<center><div class="card" style="width: 50%; margin-top: 10%;">

  <div class="card-body">
    <%= yield %>
  </div>
</div></center>
    
  </body>
</html>
